.websiteDescription p {
  color: #ffffff;
}

.websiteDescription p:nth-child(1) {
  font-size: 3rem;
  margin: 50px 0px 30px 0px;
  text-align: center;
}

.websiteDescription p:nth-child(1) span {
  color: #ffba08;
}

.websiteDescription p {
  font-size: 1.5rem;
  line-height: 28px;
  margin-bottom: 10px;
}

.imgCarousel {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  margin-top: 20px;
}

.carouselTrack {
  display: flex;
  width: max-content;
  gap: 20px;
  animation: scroll 10s linear infinite;
}

.slide {
  flex-shrink: 0;
}

.slide img {
  width: 350px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.carouselTrack:hover {
  animation-play-state: paused;
}

.carouselTrack div img {
  border-radius: 10px;
  height: 25rem;
  width: 25rem;

}

.websiteIntroBtn {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0px 25px 0px;
}

.websiteIntroBtn button {
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
}

#postBtn {
  background: #00fff0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083fe, #00fff0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083fe, #00fff0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#seeBtn {
  background: #05386b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5cdb95, #05386b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5cdb95, #05386b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.websiteIntroBtn button:hover {
  box-shadow: 0px 0px 10px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 10px));
  }
}

.featuresContainerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.featuresContainerTitle span {
  position: relative;
  font-size: 3rem;
  color: palevioletred !important;
}

.featuresContainerTitle span::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  left: 0px;
  bottom: -10px;
  width: 100%;
}

.featuresCardArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 15px;
}

.featuresCard {
  padding: 10px;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0px 0px 5px;
}

.featuresCard:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px;
}

.featuresImg img {
  width: 100%;
  height: 20rem;
  border-radius: 9px;
}

.featuresTitle {
  color: cadetblue !important;
  text-align: center;
  font-size: 2rem !important;
  margin: 14px !important;
  font-family: monospace;
}

.featuresDesc {
  font-size: 1.3rem !important;
}

@media only screen and (max-width:800px) {
  .websiteIntroBtn button {
    font-size: 1.8rem;
  }
}