nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d42;
    color: #ffffff;
    padding: 10px 24px 10px 14px;
    border-radius: 9px;
    cursor: pointer;
}

.webNameContainer {
    display: flex;
    align-items: center;
}

.webNameContainer p {
    margin-left: 10px;
}

.dropDownContainer {
    display: flex;
    align-items: center;
}

.navLinksContainer {
    margin-right: 30px;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLinks li {
    list-style: none;
    position: relative;
}

.navLinks li::after {
    content: " ";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: red;
    left: 0px;
    bottom: 0px;
}

.navLinks li:hover::after {
    width: 100%;
}
.navBtnGroup button:nth-child(1){
    margin-right: 10px;
}
.navBtnGroup button {
    font-size: 1.3rem;
    padding: 6px 12px 6px 12px;
    border-radius: 5px;
}
.navBtnGroup button:hover{
    box-shadow: 0px 0px 10px #ffffff;
}
#signUpBtn {
    background: #00fff0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083fe, #00fff0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083fe, #00fff0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#signInBtn {
    background: #D70652;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF025E, #D70652);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF025E, #D70652);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navBtnGroup button a {
    color: black;
}

.hamburgerContainer {
    display: none;
}

@media only screen and (max-width:650px) {
    nav{
        align-items: flex-start;
    }
    .dropDownContainer {
        display: none;
    }

    .hamburgerContainer {
        display: block;
    }

    .webLinks {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;  
        margin-top: 8px;
    }

    .dropDownContainer {
        flex-direction: column-reverse;
    }

    .navLinks {
        flex-direction: column;
    }
    .hamburgerContainer{
        margin-bottom: 10px;
    }
}